/* THEME */

a:not(.unstyled)
  @apply text-medium-blue-green

a:visited:not(.unstyled)
  @apply text-medium-red-purple

code
  @apply bg-transparent
  @apply font-source-code
  
strong
  @apply font-semibold


/* DISPLAY FIX FOR ICONS AND TAGS */

p img,
span img
  @apply inline
